<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-white ">
      Product Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-buttons class="ion-justify-content-end ion-margin-top">
  <ion-button (click)="openModal()" class="bg-primary text-white me-5"> + Add Product </ion-button>
</ion-buttons>

<ion-content>
  <div class="container mt-3 card shadow">
    <mat-form-field class="example-form-field">
      <mat-label class="label">Search</mat-label>
      <div class="example-form-field__container">
        <input class="input " matInput (keyup)="applyFilter($event)" placeholder="Ex. NoteBook" #input>
        <i class='bx bx-search-alt-2'></i>
      </div>
    </mat-form-field>


    <div class="mat-elevation-z8 table table-responsive-sm">

      <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
          <td mat-cell *matCellDef="let row"> <ion-radio-group >
            <ion-radio value="custom"></ion-radio>
            
          </ion-radio-group> </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </th>
          <td mat-cell *matCellDef="let row"> {{row.productName}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let row"> {{row.price}} </td>
        </ng-container>

        <ng-container matColumnDef="oldPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Old Price </th>
          <td mat-cell *matCellDef="let row"> {{row.oldPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <div>
              <a routerLink='/add-product/{{row.id}}' type="button"><i class='bx bxs-pencil text-success fs-4 edit'></i></a>
              <a class="delete">
                <i class='bx bxs-trash text-danger fs-4 delete mx-2' (click)="deleteProduct(row.id)"></i>
              </a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>
      <mat-paginator [length]="length" [pageSize]="pageSize" showFirstLastButtons>
      </mat-paginator>

    </div>

  </div>

</ion-content>